.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cartEmpty {
  margin-top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: auto;
  text-align: center;
}

.cartTotalBlock {

  ul {
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

}

.greenButton {

  button {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: backgroung 0.2s ease-in-out;

    &:hover {
      background: lighten(#9dd558, 5%);
    }

    &:active {
      background: darken(#9dd558, 5%);
    }
  }
}



.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .items {
    overflow: auto;
    margin-bottom: 40px;
    position: absolute;
  }

  h2 {
    margin: 0;
    font-size: 24px;
  }
}